<table id="changes" class="listing" cellspacing="0">
  <caption>Documents</caption>
  <thead>
    <tr>
      <th class="key">seq</th>
      <th class="id">id</th>
      <th class="value">changes</th>
    </tr>
  </thead>
  <tbody class="content">
  </tbody>
  <tbody class="footer">
    <tr>
      <td colspan="4" class="more">
        <select class="dbquery-select" autocomplete="false">
          <option value="all">All Documents</option>
          <option value="ddocs">Design Documents</option>
          <option value="query">Query</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>