<!--

Licensed under the Apache License, Version 2.0 (the "License"); you may not use
this file except in compliance with the License. You may obtain a copy of the
License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
CONDITIONS OF ANY KIND, either express or implied. See the License for the
specific language governing permissions and limitations under the License.

-->
<table id="changes" class="listing" cellspacing="0">
  <caption>Documents</caption>
  <thead>
    <tr>
      <th class="key">seq</th>
      <th class="id">id</th>
      <th class="value">changes</th>
    </tr>
  </thead>
  <tbody class="content">
  </tbody>
  <tbody class="footer">
    <tr>
      <td colspan="4" class="more">
      </td>
    </tr>
  </tbody>
</table>

<script>
app.loadChanges = function () {
  var db = this.params['db'];
  
  var query = getQuery()
    , url = '/'+db+'/_changes'
    ;
  if (query) url += ('?' + param(query));
  var rowCount = 0;
  request({url:url}, function (err, resp) {
    if (err) handleError(err, resp);
    // Render the response in 10 row chunks for efficiency
    var pending = []
      , renderPending = function () {$('table#changes').append(pending.join('')); pending = [];}
      , c , changes, baseUrl = '#/'+db+'/'
      ;
    for (var i=0;i<resp.results.length;i+=1) {
      c = resp.results[i]; 
      changes = []
      $.each(c.changes, function (x, change) {
        changes.push(change.rev);
      })
      pending.push('<tr class="'+(isEven(rowCount) ? "even" : "odd")+'">' + 
                     '<td><a href="'+baseUrl+'_changes?since='+(c.seq-1)+'">'+c.seq+'</td>'+
                     '<td><a href="'+baseUrl+c.id+'">'+c.id+'</a><td>['+changes.join(', ')+']</td></tr>'
                  )
      if (pending.length > 10) renderPending();
      rowCount += 1;
    }
    renderPending()
  })
}
</script>