<div id="switch">
  <a href="#/{{db}}/_views" class="to-views">Views ></a>
</div>
<div id="jumpto">
  <label>Jump to:
    <input type="text" name="docid" placeholder="Document ID" autocomplete="off" />
  </label>
</div>
<ul id="toolbar">
  <li><button class="add">New Document</button></li>
  <!-- <li><button class="security">Security…</button></li> -->
  <li><button class="compact">Compact &amp; Cleanup…</button></li>
</ul>

<div id="dbinfo">
  <div class="info-title">Documents </div><div class="info-value" id="doc_count"></div>
  <div class="info-title">Deleted </div><div class="info-value" id="doc_del_count"></div>
  <div class="info-title">Sequence </div><div class="info-value" id="update_seq"></div>
  <div class="info-title">Purge Seq </div><div class="info-value" id="purge_seq"></div>
  <div class="info-title">Compacting </div><div class="info-value" id="compact_running"></div>
  <br>
  <div class="info-title">Document Store Size </div><div class="info-value" id="disk_size"></div>
  <div class="info-title">View Index Size </div><div class="info-value" id="views_size"></div>
  <div class="info-title">Full Database Size </div><div class="info-value" id="full_size"></div>
  <br>
</div>

<table id="documents" class="listing" cellspacing="0">
  <caption>Documents</caption>
  <thead>
    <tr>
      <th class="key">id</th>
      <th class="value">rev</th>
    </tr>
  </thead>
  <tbody class="content">
  </tbody>
  <tbody class="footer">
    <tr>
      <td colspan="4" class="more">
        <select class="dbquery-select" autocomplete="false">
          <option value="all">All Documents</option>
          <option value="ddocs">Design Documents</option>
          <option value="query">Query</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<ul id="toolbar">
  <li><button class="delete">Delete Database…</button></li>
</ul>