<div id="content">
  <ul id="toolbar">
    <li><button class="save">Save Document</button></li>
    <li><button class="add">Add Field</button></li>
    <li><button class="load">Upload Attachment…</button></li>
    <li><button class="delete">Delete Document…</button></li>
  </ul>

  <div id="document-editor">
    
  </div>
</div>

