*.beam
*.gz
*.tpl
*.o
*.lo
*.la
*.m4
*~
*.orig
*.rej
erl_crash.dump
configure
autom4te.cache
build-aux
*.diff
*.pyc

# ./configure
/config.cache

Makefile
bin/Makefile
config.h
config.log
config.status
etc/Makefile
etc/couchdb/Makefile
etc/default/Makefile
etc/init/Makefile
etc/init/couchdb
etc/launchd/Makefile
etc/logrotate.d/Makefile
libtool
share/Makefile
src/couchdb/.deps/*
src/couchdb/Makefile
src/couchdb/priv/Makefile
src/mochiweb/Makefile
stamp-h1
test/.deps/
test/Makefile
test/javascript/run_js_tests.sh
test/python/set_view/run.py
var/Makefile

# for make

bin/couchdb
bin/couchdb.1
bin/couchjs
bin/couchjs.1
etc/couchdb/default.ini
etc/launchd/org.apache.couchdb.plist
etc/logrotate.d/couchdb
src/couchdb/.libs/*
src/couchdb/couch.app
src/couchdb/couchjs
src/couchdb/edoc-info
src/couchdb/erlang.png
src/couchdb/stylesheet.css
src/couchdb/priv/.deps/
src/couchdb/priv/.libs/
src/couchdb/priv/couch_icu_driver.la
src/couchdb/priv/couchjs
src/couchdb/priv/couchspawnkillable
src/couchdb/priv/stat_descriptions.cfg
src/erlang-oauth/oauth.app
src/ejson/ejson.app
src/ejson/.deps/
src/ejson/.libs/
src/ejson/priv
src/mapreduce/mapreduce.app
src/mapreduce/.deps/
src/mapreduce/.libs/
src/mapreduce/priv
src/couch_view_parser/couch_view_parser.app
src/couch_view_parser/.deps/
src/couch_view_parser/.libs/
src/couch_view_parser/priv
src/mochiweb/mochiweb.app
src/snappy/.deps/
src/snappy/.libs/
src/snappy/priv
src/snappy/snappy.app
src/snappy/*/snappy-stubs-public.h
src/snappy/*/stamp-h2
src/snappy/*/.deps/
src/couch_set_view/ebin/
src/couch_set_view/test/run
src/couch_index_merger/ebin/
src/couch_view_parser/test/run
src/mapreduce/test/run
src/couch_dcp/ebin/
src/couch_dcp/test/run
test/local.ini
test/etap/.deps/
test/etap/run
test/etap/test_cfg_register
test/etap/test_util.erl
test/javascript/run
share/server/main.js
share/server/main-coffee.js

# for make dev

bin/.deps/
bin/couchjs_dev
bin/couchpw
etc/couchdb/default_dev.ini
utils/run
tmp
src/couchdb/priv/stat_descriptions.cfg
src/erlang-oauth/oauth.app
src/lhttpc/lhttpc.app
src/mochiweb/mochiweb.app
test/etap/run
./couchdb.plt

# for make check

test/etap/temp.*
test/bench/run
couchdb.stderr
couchdb.stdout

# for make cover

cover/*
INSTALL

# CMake stuff
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
/src/couch_view_parser/libcouch_view_parser_nif.so
/src/couchdb/priv/couch_ejson_compare.so
/src/couchdb/priv/couch_icu_driver.so
/src/ejson/libejson.so
/src/mapreduce/libmapreduce_nif.so
/src/snappy/libsnappy_nif.so
/bin/couchdb.bat
/src/couch_view_parser/couch_view_parser_nif.exp
/src/couch_view_parser/couch_view_parser_nif.lib
/src/couchdb/priv/couch_ejson_compare.dll
/src/couchdb/priv/couch_ejson_compare.dll.embed.manifest
/src/couchdb/priv/couch_ejson_compare.dll.embed.manifest.res
/src/couchdb/priv/couch_ejson_compare.dll.intermediate.manifest
/src/couchdb/priv/couch_ejson_compare.dll.resource.txt
/src/couchdb/priv/couch_ejson_compare.exp
/src/couchdb/priv/couch_ejson_compare.ilk
/src/couchdb/priv/couch_ejson_compare.lib
/src/couchdb/priv/couch_ejson_compare.pdb
/src/couchdb/priv/couch_icu_driver.dll
/src/couchdb/priv/couch_icu_driver.dll.embed.manifest
/src/couchdb/priv/couch_icu_driver.dll.embed.manifest.res
/src/couchdb/priv/couch_icu_driver.dll.intermediate.manifest
/src/couchdb/priv/couch_icu_driver.dll.resource.txt
/src/couchdb/priv/couch_icu_driver.exp
/src/couchdb/priv/couch_icu_driver.ilk
/src/couchdb/priv/couch_icu_driver.lib
/src/couchdb/priv/couch_icu_driver.pdb
/src/ejson/ejson.exp
/src/ejson/ejson.lib
/src/mapreduce/mapreduce_nif.exp
/src/mapreduce/mapreduce_nif.lib
/src/snappy/snappy_nif.exp
/src/snappy/snappy_nif.lib
Testing
