%% Top-level rebar.config drives the build of all of our applications and
%% dependencies. This configuration file is applied to all applications that we
%% compile.

{deps, []}.

{erl_opts, [{src_dirs, ["src"]},
            {i, "src/couchdb"},
            debug_info]}.
{project_app_dirs, ["src/*"]}.
